<launch>
	<arg name="module" value="$(find bisenet_ros)/model/bisenet/model.pt" />

	<!-- If rviz needed -->
	<arg name="visualize" default="false" />

	<!-- If use the bag file instead of online mode -->
	<arg name="rosbag" default="false" />
	<arg name="rate" default="1.0" />

	<!-- topic name -->
	<!-- <arg name="input_image_topic" default="/input_image" /> -->
	<arg name="input_image_topic" default="/unreal/unreal_sensor_model/ue_color_image_out" />
	<arg name="input_rgb_image_topic" default="/unreal/unreal_sensor_model/ue_color_image_out" />
	<arg name="input_depth_image_topic" default="/unreal/unreal_sensor_model/ue_depth_image_out" />

	<!-- If use a specific color map file, or generate color map randomly -->
	<arg name="use_color_file" default="true" />
	<arg name="color_map_file" default="$(find bisenet_ros)/cfg/cityscapes_color.csv" />

<node pkg="bisenet_ros" name="bisenet_node" type="bisenet_node" >
	<remap from="/input_rgb_image" to="$(arg input_rgb_image_topic)"/>
	<remap from="/input_depth_image" to="$(arg input_depth_image_topic)"/>
	<remap from="/output_image_label" to="/output_image_label"/>
	<remap from="/output_image_rgb" to="/output_image_rgb"/>

	<param name="torch/module_path" value="$(arg module)"/>    
	<param name="cv/mean_r" value="0.3257"/>        
	<param name="cv/mean_g" value="0.3690"/>        
	<param name="cv/mean_b" value="0.3223"/>       
	<param name="cv/std_r" value="0.2112"/>        
	<param name="cv/std_g" value="0.2148"/>        
	<param name="cv/std_b" value="0.2115"/>       

	<param name="cv/use_const_mean_std" value="false"/>       
	<param name="cv/use_color_map" value="$(arg use_color_file)"/>       

	<param name="cv/color_file" value="$(arg color_map_file)"/>       

	<param name="pcl/generate_semantic_pcl" value="true"/>       
	<param name="pcl/flatten_distance" value="6.0"/>       


</node>

<include file="$(find exploration_manager)/launch/city_experiment.launch"/>

<node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find bisenet_ros)/cfg/rviz.rviz" if="$(arg visualize)" />

<node pkg="rosbag" type="play" name="player" output="screen" args="-r $(arg rate) $(find bisenet_ros)/bag/example_video.bag" if="$(arg rosbag)"/>
</launch>
