<launch>
	<arg name="module" value="$(find bisenet_ros)/model/bisenet/model.pt" />

<node pkg="bisenet_ros" name="test_wrapper_node" type="test_wrapper" output="screen">
	<param name="torch/module_path" value="$(arg module)"/>    
	<param name="cv/mean_r" value="0.3257"/>        
	<param name="cv/mean_g" value="0.3690"/>        
	<param name="cv/mean_b" value="0.3223"/>       
	<param name="cv/std_r" value="0.2112"/>        
	<param name="cv/std_g" value="0.2148"/>        
	<param name="cv/std_b" value="0.2115"/>       
</node>

</launch>
